version: "3.8"

services:
  app:
    image: cloud-notebook
    container_name: cloud-notebook-task06
    ports:
      - "3000:3000"
    env_file:
      - ../../.env
    depends_on:
      - redis
    restart: always

  redis:
    image: redis:7
    container_name: cloud-notebook-redis
    ports:
      - "6379:6379"
    restart: always